<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config/>
	
	
	
	<bean id="memberDao" class="main.java.spring.MemberDao">
	</bean>
	
	<bean id="memberRegSvc" class="main.java.spring.MemberRegisterService">
	</bean>
	
	<bean id="printer" class="main.java.spring.MemberPrinter">
		<qualifier value="sysout"></qualifier>
	</bean>
	
	<bean id="printer2" class="main.java.spring.MemberPrinter">
	</bean>
	
	<bean id="infoPrinter" class="main.java.spring.MemberInfoPrinter">
	</bean>

</beans>
